extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb-top
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9.portfolio-content
        h1 Miguel Angel Alcala Romero

        p.lead
          | Full Stack JavaScript Developer and a human being in his free time.

        .portfolio-bio
          p
            | Perfectionist, detallist and organized, always looking for doing my best I have the growing feeling inside my body and soul that everything can be solved if you don't give up trying. 
            | Fast learning, dedicated and motivated to accomplish what are in my way or I want it to be in my way, but always remenbering that a house cant be built from the roof.
            | Always available to lend a hand, review a code or help find the ideas that have to flow from my partner's minds.
        .portfolio-logo
          img.logo(src='/static/images/logo_about.png')
      .cell.portfolio-meta.small-6.medium-2.large-3
        .sidebarlist
          h6 Skills
            ul
              li HTML5
              li CSS
              li JavaScript
              li Node.js
              li Express
              li Vue.js
              li Nuxt.js
              li GraphQl
              li MongoDB
              li Bootstrap
          h6 Contact Info

            ul
              li 555-555-1234
              li miguel@gmail.com

          a.button.expanded(href='https://www.linkedin.com/in/mikeliam' target='_blank') LinkedIn
          a.button.expanded(href='https://github.com/MikeLiam' target='_blank') GitHub
          a.button.expanded(href='https://twitter.com/miguel_mikeliam' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb-bottom
    a(href='/') ← Back
  