<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title MikelIam | FS Developer
    link(href='https://fonts.googleapis.com/css?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap", rel="stylesheet")
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='shortcut icon', href='/static/images/logo.png', type='image/x-icon')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='/static/images/profile.png')
          .cell.auto

            h5 Miguel Angel Alcala Romero

            p.text-light
              | Hello! I'm a Telecomunication Engineer with a strong curiousity and hunger to learn everything that falls in my hands. 
              | Destiny (or lifecicle) took me to the Full Stack Development Techdegree from Treehouse after a beggining path of autodidact 
              | learning and waking up that organized mind of mine to code searching the best, cleanest and smartest way (even being the hardest) 
              | to resolve any problem that can be solved with some coding.

            a(href='/about') Learn More

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          span.title-bar-title Miguel Angel Alcala Romero
      block content
    .license
      a(href="https://www.freepik.es/vectores/fondo") Vector de Fondo creado por rawpixel.com - www.freepik.es
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
